// menu-btn__v1

.menu-btn-v1 {
  &__lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 0.9rem;
  }
  &__line {
    height: 0.2rem;
    background-color: var(--color-black);
  }
}
