.nav-main {
  flex: 1;
  display: flex;
  align-items: center;
  height: 10rem;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-size: 1.8rem;
    line-height: 1;
    font-family: var(--roboto);
    font-weight: var(--weight-medium);
    color: var(--color-black);
    border: none;
  }
}
